[submodule "pipenv"]
	path = pipenv
	url = git@github.com:brightdays/pipenv
[submodule "dockersqlgen"]
	path = Docker/dockersqlgen
	url = git@github.com:brightdays/dockersqlgen.git
[submodule "docker-practical-compose"]
	path = Docker/docker-practical-compose
	url = git@github.com:brightdays/docker-practical-compose.git
[submodule "docker-whatis"]
	path = docker-whatis
	url = git@github.com:brightdays/docker-whatis.git
[submodule "Tools/ultimate-rest-client"]
	path = Tools/ultimate-rest-client
	url = git@github.com:brightdays/ultimate-rest-client.git
